body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

#dataset-select {
    margin-bottom: 20px;
}

#plotly-graph {
    width: 80%;
    height: 600px;
    margin: 0 auto;
}